* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputContainer {
  position: relative;
  width: 400px;
}

.inputField {
  width: 100%;
  outline: none;
  padding: 10px 10px;
  padding-left: 10px !important;
  background: #fff;
  border: 1px solid #e6e9ec;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.8px;
  color: #55595c;
  transition: all 0.2s ease;
}

.inputField::placeholder {
  color: transparent;
}

.inputField--bordered {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 3px solid lightgrey;
}

.inputField--bordered:focus,
.inputField--bordered:not(:placeholder-shown) {
  border-bottom-color: #fe9d00;
}

.inputField--rounded {
  border-radius: 24px !important;
  padding-left: 15px !important;
}

.inputLabel {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #55595c;
  font-size: 16px;
  transition: all 0.2s ease;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  transform: translate(-6%, -90%) scale(0.9);
  color: #2e91fc;
}

.inputField[type='password'] {
  letter-spacing: 2.5px;
}

.inputField--bordered:focus + .inputLabel,
.inputField--bordered:not(:placeholder-shown) + .inputLabel {
  color: #fe9d00 !important;
}
